body {backgroud-color: lightyellow;
     }
.modau {width: 100%;
        height: 75%;
       }
.rtts14 {width: 75%;
         height: 75%;
         text-align: right;
        }
.mbcx9 {width: 75%;
         height: 75%;
         text-align: right;
        }
.kln1 {width: 75%;
       height: 75%;
       text-align: center;
       }

