body {backgroud-color: lightyellow;
     }
.modau {height: 100%;
        width: 100%;
       }
.rtts14 {width: 150%;
         height: 150%;
         text-align: right;
        }
.mbcx9 {width: 150%;
         height: 150%;
         text-align: right;
        }
.kln1 {width: 75%;
       height: 75%;
       }
.cg {text-align: justify;}

