body {backgroud-color: lightyellow;}
.modau {height: 100%;
        width: 100%;}
.rtts14 {width: 150%;
         height: 150%;}
.mbcx9 {width: 150%;
         height: 150%;}
.kln1 {width: 70%;
       height: 70%;}







