body {backgroud-color: LightYellow
     }
.modau {width: 200%;
        height: 100%;
       }
.rtts14 {width: 75%;
         height: 75%;
         text-align: right;
        }
.mbcx9 {width: 75%;
         height: 75%;
         text-align: right;
        }
.kln1 {width: 100%;
         height: 100%;
         text-align: center;
        }
