body {backgroud-color: lightyellow;}
.modau {height: 100%;
        width: 100%;}
.rtts14 {width: 200%;
         height: 200%;}
.mbcx9 {width: 200%;
         height: 200%;}
.kln1 {width: 70%;
       height: 70%;}






