.banner {background: url("dia_diem_du_lich_o_ag/md.gif") no-repeat center center;
         background-size: 100% 100%;
         padding-top: 8em;
         padding-bottom: 8em;
         margin: 0px;
         text-align: center !important;
       }
.rtts14 {width: 100%;
         height: 100%;
        }
.mbcx9 {width: 100%;
         height: 100%;
       }
.kln1 {width: 75%;
       height: 75%;
      }















