.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 1;
}
.slogan {background-color: #1e85ae !important;
        text-align: center !important;
        width: 100%;
        padding-right: 3em;
        padding-left: 3em;
        padding-top: 4em;
        padding-bottom: 4em;
       }
.row {display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      max-width: 100%;
      padding-right: 3em;
      padding-left: 3em;
     }
.block {flex: 0 0 auto;
        width: 33,33333333333333%;
       }
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
       }
.rtts14 {width: 100%;
         height: 100%;
        }
.mbcx9 {width: 100%;
         height: 100%;
       }
.rtts13 {width: 50%;
         height: 50%;
        }
.kln1 {width: 75%;
       height: 75%;
      }

































