.banner {background: url("dia_diem_du_lich_o_ag/md.gif") no-repeat center center;
         backgroud-size: cover;
         padding-top: 10em;
         padding-bottom: 10em;
         text-align: right !important;
       }
.rtts14 {width: 100%;
         height: 100%;
        }
.mbcx9 {width: 100%;
         height: 100%;
       }
.kln1 {width: 75%;
       height: 75%;
      }











