body {backgroud-color: lightyellow;
     }
.modau {height: 100%;
        width: 100%;
       }
.rtts14 {width: 70%;
         height: 70%;
         text-align: right;
        }
.mbcx9 {width: 70%;
         height: 70%;
         text-align: right;
        }
.kln1 {width: 50%;
       height: 50%;
       }









