body {backgroud-color: lightyellow;}
.modau {height: 100%;
        width: 100%;}
.rtts14 {width: 250%;
         height: 250%;}
.mbcx9 {width: 250%;
         height: 250%;}
.kln1 {width: 70%;
       height: 70%;}





