.banner {background: url("dia_diem_du_lich_o_ag/md.gif") no-repeat center center;
         background-size: 100% 100%;
         padding-top: 1em;
         padding-bottom: 1em;
         text-align: center !important;
        }
.slogan {background-color: MediumAquaMarine !important;
        text-align: center !important;
        width: 100%;
        padding-right: 3em;
        padding-left: 3em;
        padding-top: 4em;
        padding-bottom: 4em;
       }
.row {display: flex;
      flex-wrap: wrap;
      margin-top: -1;
      max-width: 100%;
      padding-right: 4em;
      padding-left: 4em;
     }
.block {flex: 0 0 auto;
        width: 30%;
       }
.rtts14 {width: 100%;
         height: 100%;
        }
.mbcx9 {width: 100%;
         height: 100%;
       }
.rtts13 {width: 50%;
         height: 50%;
        }
.kln1 {width: 75%;
       height: 75%;
      }






















