body {backgroud-color: lightyellow;
     }
.modau {height: 75%;
        width: 75%;
       }
.rtts14 {width: 50%;
         height: 50%;
         text-align: right;
        }
.mbcx9 {width: 50%;
         height: 50%;
         text-align: right;
        }
.kln1 {width: 50%;
       height: 50%;
       }








