body {backgroud-color: lightyellow;
     }
.modau {height: 50%;
        width: 50%;
       }
.rtts14 {width: 25%;
         height: 25%;
         text-align: right;
        }
.mbcx9 {width: 25%;
         height: 25%;
         text-align: right;
        }
.kln1 {width: 50%;
       height: 50%;
       text-align: center !important;
       }






