body {backgroud-color: lightyellow;
     }
.modau {height: 150%;
        width: 150%;
       }
.rtts14 {width: 100%;
         height: 100%;
         text-align: right;
        }
.mbcx9 {width: 100%;
         height: 100%;
         text-align: right;
        }
.kln1 {width: 100%;
       height: 100%;
       }










