body {backgroud-color: lightyellow;
     }
.modau {width: 100%;
        height: 50%;
       }
.rtts14 {width: 35%;
         height: 35%;
         text-align: right;
        }
.mbcx9 {width: 35%;
         height: 35%;
         text-align: right;
        }
.kln1 {width: 50%;
       height: 50%;
       display: flex;
       }



