body {backgroud-color: lightyellow;}
.modau {height: 200%;
        width: 200%;}
.rtts14 {width: 250%;
         height: 250%;}
.mbcx9 {width: 250%;
         height: 250%;}
.kln1 {width: 70%;
       height: 70%;}




