body {backgroud-color: lightyellow;}
.modau {height: 300%;
        width: 300%;}
.rtts14 {width: 200%;
         height: 200%;
         text-align: right;}
.mbcx9 {width: 200%;
         height: 200%;
         text-align: right;}
.kln1 {width: 70%;
       height: 70%;}
.cg {text-align: justify;}


