body {backgroud-color: lightyellow;}
.modau {height: 100%;
        width: 100%;}
.rtts14 {width: 80%;
         height: 80%;}
.mbcx9 {width: 80%;
         height: 80%;}
.kln1 {width: 25%;
       height: 25%;}










